.profile {
    margin: 0;
    background-color: #fff;
}

.profile__title {
    margin: 74px 0 107px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000;
}

.profile__form {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__label {
    margin: 0;
    width: 396px;
    height: 30px;
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    justify-content: space-between;
}

.profile__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #000;
}

.profile__input {
    padding: 0;
    border: none;
    outline: none;
    text-align: right;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #000;
}

.profile__input_type-error {
    display: block;
    height: 12px;
    margin: 6px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    text-align: center;
}

.profile__navigation {
    margin: 220px 0 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__button-edit {
    margin: 0 0 16px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000;
}

.profile__signout-link {
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #EE3465;
}

.profile__submit {
    margin: 100px 0 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__submit_type-error {
    display: block;
    height: 13px;
    margin: 0 0 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #FF004C;
}

.profile__submit-button {
    width: 396px;
    height: 45px;
    background-color: #2BE080;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    cursor: pointer;
    border: none;
}

.profile__submit-button_inactive {
    background-color: #F8F8F8;
    color: #C2C2C2;
}