.header__unauthorized {
    display: flex;
    align-items: center;
}

.header__button-register {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000;
}

.header__button-register:hover {
    opacity: .7;
}

.header__button-login {
    display: block;
    margin: 0 0 0 30px;
    padding: 0;
    text-decoration: none;
    width: 76px;
    height: 32px;
    background-color: #2be080;
    border: none;
    border-radius: 3px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 32px;
    color: #000;
}

.header__button-login:hover {
    opacity: .7;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header__button-register {
        font-size: 10px;
    }

    .header__button-login {
        margin: 0 0 0 14px;
        width: 54px;
        height: 26px;
        font-size: 10px;
        line-height: 26px;
    }
}