@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'] {
        -webkit-appearance: none;
        -moz-appearance: none;
        --background: #EBEBEB;
        --background-inner: #f5f5f5;

        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        background: var(--background);
        transition: background-color .3s;
    }
    
    .searchform__switch-checkbox::after {
        margin: 0;
        display: block;
        position: absolute;
        content: "";
        left: 2px;
        top: 2px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: var(--background-inner);
        transform: translateX(var(--x, 0));
    }


    .searchform__switch-checkbox:checked {
        --background: #2BE080;
        --background-inner: #fff;
        --x: 16px;
    }
}


.searchform {
    margin: 0;
    background-color: #fff;
    width: 1280px;
    min-height: 212px;
    display: flex;
    justify-content: center;
    border-bottom: 1px #e8e8e8 solid;
}

.searchform__container {
    margin: 70px 0 69px;
    width: 1140px;
    height: 72px;
    background-color: #f9f9f9;
    border-radius: 9px;
    display: flex;
    align-items: center;
}

.searchform__img {
    margin: 0 0 0 19px;
    width: 34px;
    height: 34px;
}

.searchform__input {
    margin: 0 0 0 10px;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: #000;
    outline: none;
    border: none;
    background-color: #f9f9f9;
    width: 740px;
}

.searchform__input::placeholder {
    color: #A0A0A0;
}


.searchform__button-find {
    margin: 0 30px 0 46px;
    padding: 0;
    border: none;
    outline: none;
    background-color: #f9f9f9;
    cursor: pointer;
}

.searchform__button-find:hover {
    opacity: .7;
}

.searchform__button-find-img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.searchform__switch {
    margin: 0;
    padding: 0 30px 0 29px;
    height: 40px;
    border-left: 1px #e8e8e8 solid;
    display: flex;
    align-items: center;
}

.searchform__switch-checkbox {
    width: 36px;
    height: 20px;
    border-radius: 20px;
}

.searchform__switch-text {
    margin: 0 0 0 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 40px;
    color: #000;
}