.portfolio {
    margin: 0 0 125px;
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.portfolio__container {
    width: 1140px;
}

.portfolio__title {
    margin: 0 0 50px auto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
}

.portfolio__items {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.portfolio__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 50px;
    border: 1px;
    margin: 0;
    padding: 20px 0 19px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    color: #000;
    text-decoration: none;
}

.portfolio__item {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.portfolio__line {
    border-bottom: 1px #E8E8E8 solid;
}

.portfolio__line:last-of-type {
    border-bottom: none;
}

.portfolio__button {
    border: none;
    padding: 0;
    background-color: #fff;
    cursor: pointer;
}

.portfolio__button:hover {
    opacity: .7;
}

.portfolio__img {
    width: 29px;
    max-height: 60px;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .portfolio {
        margin: 0 0 90px;
        width: 100%;
    }
}

@media screen and (min-width: 767px) and (max-width: 1279px) {
    .portfolio__container {
        width: 87%;
    }

    .portfolio__link {
        font-size: 28px;
    }

    .portfolio__img {
        width: 27px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .portfolio {
        margin: 0 0 70px;
        width: 100%;
    }

    .portfolio__container {
        width: 92%;
    }

    .portfolio__title {
        margin: 0 0 40px auto;
        font-size: 14px;
    }

    .portfolio__link {
        max-height: 28px;
        font-size: 18px;
        line-height: 28px;
    }

    .portfolio__img {
        width: 18px;
        max-height: 28px;
    }
}