.portfolio {
    margin: 0 0 125px;
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.portfolio__container {
    width: 1140px;
}

.portfolio__title {
    margin: 0 0 50px auto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
}

.portfolio__links {
    display: flex;
flex-direction: column;

}

.portfolio__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 50px;
    border: 1px;
    margin: 0;
    padding: 20px 0 19px;
}

.portfolio__line {
    border-bottom: 1px #E8E8E8 solid;
}

.portfolio__text {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    color: #000;
}

.portfolio__button {
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.portfolio__button:hover {
    opacity: .7;
}

.portfolio__img {
    width: 29px;
    max-height: 60px;
}