.techs {
    margin: 0;
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
}

.techs__subscription {
    width: 1140px;
    display: flex;
    padding: 100px 0 23px;
    box-sizing: border-box;
}

.techs__line {
    border-bottom: 1px #000 solid;
}

.techs__title {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}

.techs__container {
    width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.techs__subtitle {
    margin: 90px 0 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
}

.techs__description {
    margin: 0;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.techs__items {
    margin: 100px 0 100px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    gap: 0 10px;
}

.techs__item {
    margin: 0;
    padding: 0;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 60px;
    width: 90px;
    height: 60px;
    border-radius: 10px;
    background-color: #E8E8E8;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .techs {
        width: 100%;
    }

    .techs__subscription {
        width: 87%;
        padding: 90px 0 23px;
    }

    .techs__container {
        width: 87%;
    }

    .techs__subtitle {
        margin: 80px 0 22px;
    }

    .techs__description {
        font-size: 12px;
        line-height: 18px;
    }

    .techs__items {
        margin: 83px 0 90px;
    }

    .techs__item {
        font-size: 12px;
        line-height: 57px;
        width: 84px;
        height: 57px;
    }
}

@media screen and (min-width: 601px) and (max-width: 1023px) {
    .techs__items {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 10px 10px;
    }
}

@media screen and (min-width: 400px) and (max-width: 601px) {
    .techs {
        background-color: #fff;
    }
    
    .techs__items {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 10px 10px;
    }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
    .techs {
        background-color: #fff;
    }

    .techs__subscription {
        width: 89%;
        padding: 70px 0 28px;
    }

    .techs__subtitle {
        margin: 60px 0 24px;
        font-size: 30px;
        line-height: 36px;
    }

    .techs__description {
        font-size: 11px;
        line-height: 16px;
    }

    .techs__items {
        margin: 50px 0 70px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 10px 10px;
    }
}