@media screen and (min-width: 320px) and (max-width: 768px) {
    .burger {
        position: fixed;
        margin: 0;
        right: 0;
        top: 0;
        width: 68%;
        background-color: #B2B2B2;
        /* visibility: hidden; */
    }

    .burger_visible {
        visibility: visible;
    }

    .burger__container {
        max-width: 100%;
        height: 100vh;
        background-color: #fff;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .burger__button-close {
        margin: 22px 22px 0 0;
        padding: 0;
        width: 33px;
        height: 22px;
        cursor: pointer;
        align-self: end;
        border: none;
        background-color: transparent;
        transition: opacity 0.3s linear;
    }

    .burger__button-close:hover {
        opacity: .7;
    }

    .burger__button-close-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .burger__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 105px 0 0;
    }

    .burger__button-text {
        margin: 0 0 28px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #000;
        text-decoration: none;
    }

    .burger__button-text_selected {
        border-bottom: 1px solid #fff;
    }

    .burger__button {
        position: absolute;
        margin: 0;
        padding: 0;
        bottom: 90px;
        display: block;
        width: 100px;
        height: 32px;
        text-decoration: none;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 32px;
        color: #000;
        border: none;
        background-color: #f9f9f9;
        border-radius: 20px;
        cursor: pointer;
    }
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .burger {
        width: 100%;
    }

    .burger__button-close {
        margin: 13px 13px 0 0;
    }

    .burger__buttons {
        margin: 99px 0 0;
    }

    .burger__button-text {
        bottom: 54px;
        margin: 0 0 24px;
    }
}