.register {
  margin: 0;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register__logo {
  margin: 0;
  display: flex;
}

.register__img {
  width: 38px;
  height: 38px;
}

.register__title {
  margin: 40px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
}

.register__form {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 396px;
}

.register__label {
  margin: 6px 0 0;
  width: 396px;
  height: 44px;
  border-bottom: 1px solid #E8E8E8;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.register__label:focus-within {
  border-bottom: 1px solid #2BE080;
  ;
}

.register__subtitle {
  margin: 0 0 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
}

.register__input {
  padding: 0;
  margin: 0 0 10px;
  border: none;
  outline: none;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.register__type-input-error {
  display: block;
  height: 12px;
  margin: 6px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
  text-align: center;
}

.register__submit {
  margin: 100px 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__submit_type-error {
  display: block;
  height: 13px;
  margin: 0 0 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #FF004C;
}

.register__submit-button {
  width: 396px;
  height: 45px;
  background-color: #2BE080;
  border-radius: 3px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  cursor: pointer;
  border: none;
}

.register__submit-button:hover {
  opacity: .7;
}

.register__submit-button_inactive {
  background-color: #F8F8F8;
  color: #C2C2C2;
  cursor: default;
}

.register__submit-button_inactive:hover {
  opacity: 1;
}

.register__signin {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register__signin-text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
}

.register__signin-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2BE080;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .register__logo {
    justify-content: center;
  }

  .register__title {
    text-align: center;
  }

  .register__label {
    width: 260px;
  }

  .register__submit-button {
    width: 260px;
    font-size: 12px;
    line-height: 15px;
  }

  .register__signin-text {
    font-size: 12px;
    line-height: 15px;
  }
}