.promo {
    margin: 0;
    width: 1280px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.promo__container {
    margin: 0;
    width: 1200px;
    background-color: #f5f5f5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo__title {
    margin: 160px 0 151px;
    width: 730px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
}

.promo__items {
    margin: 0 0 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    gap: 0 10px;
}

.promo__item {
    margin: 0;
    width: 96px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 36px;
    text-align: center;
    color: #000;
    background: #E8E8E8;
    border-radius: 10px;
    cursor: pointer;
}

.promo__item:hover {
    opacity: .7;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .promo {
        width: 100%;
    }

    .promo__container {
        width: 95%;
    }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .promo__container {
        width: 95%;
    }

    .promo__title {
        margin: 350px 0 314px;
        width: 680px;
        font-size: 40px;
        line-height: 52px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .promo__container {
        width: 92%;
    }

    .promo__title {
        margin: 220px 0 212px;
        width: 90%;
        font-size: 29px;
        line-height: 37px;
    }

    .promo__items {
        margin: 0 0 17px;
        gap: 0 6px;
    }

    .promo__item {
        width: 82px;
        font-size: 10px;
        line-height: 26px;
        border-radius: 6px;
    }
}