.promo {
    margin: 0;
    width: 1280px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.promo__container {
    margin: 0;
    width: 1200px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo__title {
    margin: 160px 0 151px;
    width: 730px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    color: #000;
}

.promo__items {
    margin: 0 0 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    gap: 0 10px;
}

.promo__item {
    margin: 0;
    width: 96px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 36px;
    text-align: center;
    color: #000;
    background: #E8E8E8;
    border-radius: 10px;
    cursor: pointer;
}

.promo__item:hover {
    opacity: .7;
}