.about-me {
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.about-me__subscription {
    margin: 0;
    width: 1140px;
    padding: 110px 0 23px;
    box-sizing: border-box;
}

.about-me__line {
    border-bottom: 1px #000 solid;
}

.about-me__title {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}

.about-me__container {
    margin: 66px 0 0;
    width: 1140px;
    display: flex;
    justify-content: space-between;
}

.about-me__description {
    width: 600px;
}

.about-me__name {
    margin: 0 0 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    color: #000;
}

.about-me__about {
    margin: 0 0 26px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #000;
}

.about-me__text {
    margin: 0 0 99px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000;
}

.about-me__links {
    margin: 0 0 101px;
}

.about-me__link {
    margin: 0 20px 0 0;
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000;
}

.about-me__link:hover {
    opacity: .7;
}

.about-me__photo {
    width: 270px;
    height: 327px;
    border-radius: 10px;
    overflow: hidden;
}

.about-me__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}